 * {margin: 0; padding: 0;}


 /* формируем из нескольких блоков div - клетки */
 /* в основном действуют: {display: flex,  margin: 100px 50px 50px 50px;} и у #area { width: 156px } и .cell {width: 50px; height: 50px;}*/

 .content {
    display: flex;
    margin: 100px 50px 50px 50px;
    font-family: sans-serif;
}

#area {
    width: 156px;
    border: 1px solid #000;
    margin: 0 auto;
    font-size: 0;
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #000;
    cursor: pointer; /* курсор в виде пальца с рукой */
    vertical-align: middle; /* Для вертикального позиционирования строчных элементов - middle посередине */
    transition: background .1s; /* анимировать исходное значение CSS-свойства на новое значение с течением времени */
}
/* при навдении курсора, цвет ячейки становится серым */
.cell:hover {
    background-color: #f1f1f1; 
}

/* показывает текущего игрока */
.currentPlayer {
    width: 140px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.stat table {
    /* Анализирует рамки таблицы, и следит, чтобы не было двойных рамок (в два раза толще) между соседскими рамками */
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}